.miniHpHeader {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.headerDeco {
    position: absolute;
    top: -30px;
    left: -50px;
}
.headerDecoImg {
    width: 150px;
}
.clock {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50px;
    display: flex;
    flex-direction: column;
}
.clockImg {
    width: 80px;
    margin-bottom: 10px;
}
.clockDate {
    font-size: 30px;
}
.clockTime {
    font-size: 40px;
}
.music{
    position: absolute;
    bottom: 160px;
    left: 20px;
}
audio {
    display: none;
}
.musicBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.play,
.stop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 1em;
    border-radius: 50%;
    background:  #FFB6C1;
    line-height: 60px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s all ease-in-out;
}
.play:hover,
.stop:hover {
    background: #FFE4E1;
}
