.contentsWrapper{
    margin-top: 30px;
    position: relative;
    width: 70%;
}
.todoForm{
    margin-top: 20px;
    padding: 20px;
    border-bottom: 1px dashed pink;
}
.todoLabel{
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.todoInput{
    width: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 20px;
}
.todoInput::placeholder{
    font-family: 'Dongle', sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.2);
}
.todoUl{
    padding: 20px;
    overflow-y: auto;
    max-height: 150px;
}
.todoUl li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.todoUl li span{
    font-size: 22px;
}
.todoUl li button{
    border: none;
    background: none;
    transition: all 0.2s;
    cursor: pointer;
}
.todoUl li button:hover{
    transform: scale(1.4);
}
.todoGif{
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    width: 650px;
}
.contents{
    position: absolute;
    margin-top: 20px;
    padding: 20px;
    bottom: 30px;
    width: 100%;
}
.contentsH2{
    margin-bottom: 20px;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contentsMenu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 0;
}
.contentsList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
}
.contentsList img{
    width: 50px;
}
.contentsList span{
    font-size: 18px;
}
.contentsList:hover{
    transform: translateY(-10px);
}